doctype html
html(style="background-image:url('/images/collage.jpg');")
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    .Foodie_body_wrapper
      .Foodie_body
        .Foodie_body_inner
          block content